:root {
    --primary-text-color: #808080;
    --secondary-text-color: #000000;
    --primary-background-color:#ffffff;
    --secondary-background-color:#fff5ed;
    --primary-button-color:#ff9e2c;
    --secondary-button-color:#ffffff;
}

body {    
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;}

h1,
h2,
h3,
h4 {
    font-family: 'Besley', serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.38;
    color: var(--secondary-text-color);
}

.section {
    width: 1600 px;
    background-color:var(--primary-background-color);
    outline: 2px solid tomato;
}

.conteiner {
    width: 1200px;
    padding: 0px, 24px;
}


.main-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    text-align: center;
    color: var(--secondary-text-color);        
    background-color: var(--primary-button-color);
}

.charity-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    text-align: center;
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color);
}
.contrast-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    text-align: center;
    color: var(--secondary-button-color);
    background-color: var(--secondary-text-color);
}
.section-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    color: var(--primary-button-color);
    text-transform: uppercase;
}

a { color: var(--primary-text-color);}
         
    

/* header section */

.link {
    color:inherit;
    }
.link:hover,
.link:focus,
.current {color: var(--primary-button-color);
    }

/* hero section */

.hero-title {
    font-size:60px;
    line-height: 1.33;
}
.hero-text {
    line-height: 1.58;
    font-size: 24px;
}
.list-numbers {
    font-family: 'Besley', serif;
        font-weight: 700;
        font-size: 60px;
        line-height: 1.33;
        text-align: center;
        color: var(--secondary-text-color);
        }
.letters {color: var(--primary-button-color);
}
.description {
    font-size: 20px;
    line-height: 1.1;
}


/* about us section */

.about {
    background-color: var(--secondary-background-color);
}


.about-us-text {
    font-weight: 700;
    line-height: 1.1;
    color: var(--secondary-text-color);
}


/* our results section */

.impact-text {
    font-family: 'Besley', serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.16;
    color: var(--secondary-text-color);        
}


/* video section */

.video {
    background-color: #ffd4a4;
}
.video-title {
        color: var(--secondary-text-color);
}

.video-charity {
        font-size: 24px;
        line-height: 1.42;
}

/* how we help section */

.help-title {
        font-size: 24px;
        line-height: 1.42;
}

/* join us section */

.join-section {
    background-color: var(--primary-button-color);
}

/* testimonials section */

.testimonials {
    background-color: var(--secondary-background-color);
}
.testimonials-list {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.1;
        color: var(--secondary-text-color);
}
.testimonials-comment {    
        font-weight: 700;        
        line-height: 1.1;
        color: var(--secondary-text-color);
}

/* news section */

.news-text {
    font-family: 'Besley', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42;
        color: var(--secondary-text-color);
}
.read-more {
        font-weight: 700;
        line-height: 1.1;
        color: var(--secondary-text-color);
}

/* foter section */

footer {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
}

.footer-accent {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.11;
    color: var(--secondary-text-color);
}
.footer-menu:hover,
.footer-menu:focus {
    color: var(--primary-button-color);
}

.footer-card {
    background-color: var(--primary-button-color);
}

.footer-text {
    font-family: 'Besley', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42;
        color: var(--secondary-text-color);
}
.footer-creators {
    color: var(--secondary-text-color);
}
.footer-creators:hover,
.footer-creators:focus {
    color: var(--primary-button-color);
}
